imageio==2.4.1
jsonpickle==0.9.6
matplotlib==3.0.0
numpy==1.15.2
probscale==0.2.3
pygame==1.9.4
pysc2==3.0.0
PyYAML==3.13
setuptools
scipy==1.1.0
snakeviz==1.0.0
tensorboard-logger==0.1.0
torch==0.4.1
torchvision==0.2.1
git+https://github.com/oxwhirl/smac.git
